In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/generalassembly-studio/DS-course-materials/master/lessons/lesson-10/assets/dataset/flight_delays.csv?token=ARqVFFeZfnMyf9TE1PTsdpKMwKn9cMj7ks5avCrvwA%3D%3D')

In [4]:
df.head()

,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,CARRIER,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,CRS_DEP_TIME,DEP_TIME,DEP_DEL15,Unnamed: 15
0,1,4,2015-01-01,AA,19805,AA,12478,1247802,31703,12892,1289203,32575,900,855.0,0.0,NaN
1,1,4,2015-01-01,AA,19805,AA,12892,1289203,32575,12478,1247802,31703,900,856.0,0.0,NaN
2,1,4,2015-01-01,AA,19805,AA,12478,1247802,31703,12892,1289203,32575,1230,1226.0,0.0,NaN
3,1,4,2015-01-01,AA,19805,AA,12892,1289203,32575,12478,1247802,31703,1220,1214.0,0.0,NaN
4,1,4,2015-01-01,AA,19805,AA,11298,1129803,30194,12173,1217302,32134,1305,1754.0,1.0,NaN

In [7]:
df.columns

Index(['DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE', 'UNIQUE_CARRIER',
       'AIRLINE_ID', 'CARRIER', 'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID',
       'ORIGIN_CITY_MARKET_ID', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID',
       'DEST_CITY_MARKET_ID', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DEL15',
       'Unnamed: 15'],
      dtype='object')

In [1]:
df.dtypes

NameError: name 'df' is not defined

In [9]:
print(df)

        DAY_OF_MONTH  DAY_OF_WEEK     FL_DATE UNIQUE_CARRIER  AIRLINE_ID  \
0                  1            4  2015-01-01             AA       19805
1                  1            4  2015-01-01             AA       19805
2                  1            4  2015-01-01             AA       19805
3                  1            4  2015-01-01             AA       19805
4                  1            4  2015-01-01             AA       19805
5                  1            4  2015-01-01             AA       19805
6                  1            4  2015-01-01             AA       19805
7                  1            4  2015-01-01             AA       19805
8                  1            4  2015-01-01             AA       19805
9                  1            4  2015-01-01             AA       19805
10                 1            4  2015-01-01             AA       19805
11                 1            4  2015-01-01             AA       19805
12                 1            4  2015-01-01             AA       19805
13                 1            4  2015-01-01             AA       19805
14                 1            4  2015-01-01             AA       19805
15                 1            4  2015-01-01             AA       19805
16                 1            4  2015-01-01             AA       19805
17                 1            4  2015-01-01             AA       19805
18                 1            4  2015-01-01             AA       19805
19                 1            4  2015-01-01             AA       19805
20                 1            4  2015-01-01             AA       19805
21                 1            4  2015-01-01             AA       19805
22                 1            4  2015-01-01             AA       19805
23                 1            4  2015-01-01             AA       19805
24                 1            4  2015-01-01             AA       19805
25                 1            4  2015-01-01             AA       19805
26                 1            4  2015-01-01             AA       19805
27                 1            4  2015-01-01             AA       19805
28                 1            4  2015-01-01             AA       19805
29                 1            4  2015-01-01             AA       19805
...              ...          ...         ...            ...         ...
469938            31            6  2015-01-31             WN       19393
469939            31            6  2015-01-31             WN       19393
469940            31            6  2015-01-31             WN       19393
469941            31            6  2015-01-31             WN       19393
469942            31            6  2015-01-31             WN       19393
469943            31            6  2015-01-31             WN       19393
469944            31            6  2015-01-31             WN       19393
469945            31            6  2015-01-31             WN       19393
469946            31            6  2015-01-31             WN       19393
469947            31            6  2015-01-31             WN       19393
469948            31            6  2015-01-31             WN       19393
469949            31            6  2015-01-31             WN       19393
469950            31            6  2015-01-31             WN       19393
469951            31            6  2015-01-31             WN       19393
469952            31            6  2015-01-31             WN       19393
469953            31            6  2015-01-31             WN       19393
469954            31            6  2015-01-31             WN       19393
469955            31            6  2015-01-31             WN       19393
469956            31            6  2015-01-31             WN       19393
469957            31            6  2015-01-31             WN       19393
469958            31            6  2015-01-31             WN       19393
469959            31            6  2015-01-31             WN       19393
469960            31            6  2015-01-31             WN       19393
469961            31            6  2015-01-31             WN       19393
469962            31            6  2015-01-31             WN       19393
469963            31            6  2015-01-31             WN       19393
469964            31            6  2015-01-31             WN       19393
469965            31            6  2015-01-31             WN       19393
469966            31            6  2015-01-31             WN       19393
469967            31            6  2015-01-31             WN       19393

       CARRIER  ORIGIN_AIRPORT_ID  ORIGIN_AIRPORT_SEQ_ID  \
0           AA              12478                1247802
1           AA              12892                1289203
2           AA              12478                1247802
3           AA              12892                1289203
4           AA              11298                1129803
5           AA              13830                1383002
6           AA              11298                1129803
7           AA              12173                1217302
8           AA              12478                1247802
9           AA              12892                1289203
10          AA              12892                1289203
11          AA              13830                1383002
12          AA              12478                1247802
13          AA              14771                1477101
14          AA              10397                1039705
15          AA              12478                1247802
16          AA              14771                1477101
17          AA              12478                1247802
18          AA              12892                1289203
19          AA              11298                1129803
20          AA              14771                1477101
21          AA              14771                1477101
22          AA              10721                1072102
23          AA              11298                1129803
24          AA              12892                1289203
25          AA              11298                1129803
26          AA              13891                1389101
27          AA              12892                1289203
28          AA              12892                1289203
29          AA              12892                1289203
...        ...                ...                    ...
469938      WN              15304                1530402
469939      WN              15304                1530402
469940      WN              15304                1530402
469941      WN              15304                1530402
469942      WN              15304                1530402
469943      WN              15304                1530402
469944      WN              15304                1530402
469945      WN              15304                1530402
469946      WN              15304                1530402
469947      WN              15304                1530402
469948      WN              15304                1530402
469949      WN              15370                1537002
469950      WN              15370                1537002
469951      WN              15370                1537002
469952      WN              15370                1537002
469953      WN              15370                1537002
469954      WN              15370                1537002
469955      WN              15370                1537002
469956      WN              15370                1537002
469957      WN              15376                1537602
469958      WN              15376                1537602
469959      WN              15376                1537602
469960      WN              15376                1537602
469961      WN              15376                1537602
469962      WN              15376                1537602
469963      WN              15376                1537602
469964      WN              15376                1537602
469965      WN              15376                1537602
469966      WN              15376                1537602
469967      WN              15376                1537602

        ORIGIN_CITY_MARKET_ID  DEST_AIRPORT_ID  DEST_AIRPORT_SEQ_ID  \
0                       31703            12892              1289203
1                       32575            12478              1247802
2                       31703            12892              1289203
3                       32575            12478              1247802
4                       30194            12173              1217302
5                       33830            11298              1129803
6                       30194            13830              1383002
7                       32134            11298              1129803
8                       31703            12892              1289203
9                       32575            12478              1247802
10                      32575            12478              1247802
11                      33830            12892              1289203
12                      31703            14771              1477101
13                      32457            12478              1247802
14                      30397            13303              1330303
15                      31703            12892              1289203
16                      32457            12478              1247802
17                      31703            12892              1289203
18                      32575            12478              1247802
19                      30194            14771              1477101
20                      32457            11298              1129803
21                      32457            12478              1247802
22                      30721            12892              1289203
23                      30194            12889              1288903
24                      32575            13303              1330303
25                      30194            13891              1389101
26                      32575            11298              1129803
27                      32575            12478              1247802
28                      32575            12173              1217302
29                      32575            12478              1247802
...                       ...              ...                  ...
469938                  33195            14122              1412202
469939                  33195            14307              1430702
469940                  33195            14307              1430702
469941                  33195            14492              1449202
469942                  33195            14492              1449202
469943                  33195            14576              1457604
469944                  33195            14730              1473003
469945                  33195            14730              1473003
469946                  33195            14843              1484304
469947                  33195            15016              1501603
469948                  33195            15016              1501603
469949                  34653            11259              1125903
469950                  34653            11259              1125903
469951                  34653            11292              1129202
469952                  34653            12191              1219102
469953                  34653            12889              1288903
469954                  34653            13232              1323202
469955                  34653            14107              1410702
469956                  34653            15016              1501603
469957                  30436            11292              1129202
469958                  30436            11292              1129202
469959                  30436            12889              1288903
469960                  30436            12889              1288903
469961                  30436            12889              1288903
469962                  30436            12889              1288903
469963                  30436            12892              1289203
469964                  30436            12892              1289203
469965                  30436            12892              1289203
469966                  30436            13232              1323202
469967                  30436            14679              1467903

        DEST_CITY_MARKET_ID  CRS_DEP_TIME  DEP_TIME  DEP_DEL15  Unnamed: 15
0                     32575           900     855.0        0.0          NaN
1                     31703           900     856.0        0.0          NaN
2                     32575          1230    1226.0        0.0          NaN
3                     31703          1220    1214.0        0.0          NaN
4                     32134          1305    1754.0        1.0          NaN
5                     30194          1805       NaN        NaN          NaN
6                     33830          1215    1513.0        1.0          NaN
7                     30194          1745    1933.0        1.0          NaN
8                     32575           700     649.0        0.0          NaN
9                     31703          2150    2150.0        0.0          NaN
10                    31703          1115    1114.0        0.0          NaN
11                    32575          2300    2254.0        0.0          NaN
12                    32457           800     755.0        0.0          NaN
13                    31703          1245    1316.0        1.0          NaN
14                    32467           700     656.0        0.0          NaN
15                    32575          1100    1055.0        0.0          NaN
16                    31703          1500    1503.0        0.0          NaN
17                    32575          1845    1851.0        0.0          NaN
18                    31703          1515    1512.0        0.0          NaN
19                    32457           755     841.0        1.0          NaN
20                    30194          1050    1123.0        1.0          NaN
21                    31703           720     714.0        0.0          NaN
22                    32575           900     857.0        0.0          NaN
23                    32211          1850    1929.0        1.0          NaN
24                    32467          1500    1456.0        0.0          NaN
25                    32575          1035       NaN        NaN          NaN
26                    30194          1225    1356.0        1.0          NaN
27                    31703          2330    2326.0        0.0          NaN
28                    32134           805     828.0        1.0          NaN
29                    31703          1415    1424.0        0.0          NaN
...                     ...           ...       ...        ...          ...
469938                30198          1010    1007.0        0.0          NaN
469939                30721          1915    1909.0        0.0          NaN
469940                30721           940     938.0        0.0          NaN
469941                34492          1455    1448.0        0.0          NaN
469942                34492           900     855.0        0.0          NaN
469943                34576          1125    1124.0        0.0          NaN
469944                33044          1105    1100.0        0.0          NaN
469945                33044          1825    1943.0        1.0          NaN
469946                34819          1050    1049.0        0.0          NaN
469947                31123           920     918.0        0.0          NaN
469948                31123          1730    1724.0        0.0          NaN
469949                30194          1715    1711.0        0.0          NaN
469950                30194           800     755.0        0.0          NaN
469951                30325           705     715.0        0.0          NaN
469952                31453           935     930.0        0.0          NaN
469953                32211          1305    1306.0        0.0          NaN
469954                30977           625     621.0        0.0          NaN
469955                30466          1710    1719.0        0.0          NaN
469956                31123           745     739.0        0.0          NaN
469957                30325          1550    1550.0        0.0          NaN
469958                30325          1040    1042.0        0.0          NaN
469959                32211          1120    1119.0        0.0          NaN
469960                32211          1510    1529.0        1.0          NaN
469961                32211           725     723.0        0.0          NaN
469962                32211          1305    1332.0        1.0          NaN
469963                32575          1145    1143.0        0.0          NaN
469964                32575          1805    1758.0        0.0          NaN
469965                32575           710     705.0        0.0          NaN
469966                30977           755     755.0        0.0          NaN
469967                33570           815     807.0        0.0          NaN

[469968 rows x 16 columns]

In [ ]:
df